*{
    font-family: Helvetica, Arial, sans-serif;
    
}
.card{
    background-color: #fff;
    box-shadow: 0 4px 8px 3px rgba(0,0,0,0.2);
    border:1px solid rgba(0,0,255,0.3);
    border-radius: 4px;
    

}
.card > h1,h2,h3,h4,h5,h6{
    display: inline;
    
}
.card-header{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 15px;
}
.card-body{
    padding: 15px;
}
.card-footer{
    padding: 15px;
    background-color: #e2e2e2;
}
.jumbotron{
    background-color: #e9ebee;
padding: 50px;
}