body {
    margin: 0;
    overflow-x: hidden;
    height: 3000px;
    background-color: #f2f2f2;
}

.jumbotron {
    padding: 50px;
    width: 100%;
    display: block;
}

.header {
    position: fixed;
    width: 100%;
    height: 43px;
    color: white;
    background-color: black;
    z-index: 99;
}

.flex-container {
    display: flex;
    height: 43px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input.serch {
    height: 23px;
    width: 400px;
    margin: 0;
    border: 0;
    outline: 0;
    padding-right: 0;
    float: left;
    padding-left: 5px;
}

.flex-item {
    margin-left: 15px;
}

.btn-serch {
    margin: 0;
    border: 0;
    outline: 0;
    height: 23px;
    float: left;
    color: #4b4f56;
    background: #f6f7f9;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
    padding: 0 16px;
    text-align: center;
}

.logo {
    float: left;
    height: 23px;
    font-size: 21px;
    margin-right: 15px;
    color: white;
}

.img-nav-profile {
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.btn-nav {
    position: relative;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    cursor: pointer;
    height: 27px;
    line-height: 28px;
    padding: 7px 10px;
    text-decoration: none;
    vertical-align: top;
}

.btn-nav:hover {
    background-color: #100909;
    color: #4b4f56;
}

.text-white {
    color: white;
}

.text-gray {
    color: #4b4f56;
}

.collapse {
    display: block;
    position: absolute;
    background-color: transparent;
    width: 200px;
    top: 30px;
    right: 0;
    display: none;
}

.fixed {
    position: fixed;
    width: 205px;
}

.fixed-1 {
    left: 0;
    background-color: #f2f2f2;
    top: 43px;
    box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.1);
}

.fixed-2 {
    right: 0;
    background-color: #f2f2f2;
    top: 43px;
    box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.1);
}

.main-content {
    width: 500px;
    position: absolute;
    left: 220px;
    top: 50px;
}

.contact {
    text-decoration: none;
    color: #333;
    width: 100%;
    display: flex;
    flex-direction: row;
    transition: 0.4s;
    align-items: center;
    font-size: 14px;
    max-width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.avatar {
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.name-friend {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5px;
    width: 130px;
    margin-right: 4px;
}

.time {
    color: #999;
    font-size: 60%;
}

.contact:hover {
    background-color: #d2d2d2;
}

.online {
    background: rgb(66, 183, 42);
    width: 6px;
    padding-left: 2px;
    padding-right: 2px;
    height: 9px;
    border-radius: 50%;
    display: block;
    border: 0;
}

.is_online_mark {
    flex-grow: 2;
}

.input_serch_friends_container {
    max-width: 100px;
    box-sizing: border-box;
}

.input_serch_friends {
    max-width: 100px;
    height: 30px;
    border: 0;
    outline: 0;
    font-size: 14px;
    padding-left: 5px;
    box-sizing: border-box;
}

.fixed-3 {
    right: 0;
    bottom: 0;
    width: 205px;
    height: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
}

.serch_friends_font {
    flex-grow: 1;
    height: 30px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: #999;
}

.publication-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-bottom: 15px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.publication-header {
    height: 50px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 12px;
}

.publication-name-user-container {
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

.publication-name-user {
    font-weight: bolder;
    color: #000;
    font-size: 14px;
    text-decoration: none;
}

.publication-header-collapse-btn {
    display: flex;
    width: 50px;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-top: 5px;
    padding-right: 5px;
}
.publication-header-collapse-btn a{
    color:#555;
    font-size: 16px;
}



.publication-time-and-share-style-container a {
    text-decoration: none;
    color: #999;
}

.publication-time-and-share-style-container a:hover {
    color: #000;
}

.publication-time-and-share-style-container span {
    cursor: pointer;
    color: #999;
    margin-right: 3px;
}

.publication-time-and-share-style-container span:hover {
    color: #000;
}
.publication-content{
box-sizing: border-box;
max-width: 100%;
border-bottom:1px solid rgba(0, 0, 0, 0.1);
}
.publication-content img{
    max-width: 100%;
}
.like-comment-share-container{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 5px;
    box-sizing: border-box;
    
    
}
.like-comment-share-container .btn{
    border:0;
    outline: 0;
    background: transparent;
    padding:7px 15px;
    width:180px;
    transition: 0.8s;
    color:#999;
    font-size: 22px;
    display: flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
}
.like-comment-share-container .btn:hover{
    background: #f2f2f2;
}
.like-comment-share-container .btn span{
    font-size: 14px;
    margin-left:5px;
}