<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/fontawesome-free-5.0.12/web-fonts-with-css/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="./View/home/home.css">
    <title>Facebook</title>
</head>
<body>
    <div class="header">
       
       <a href="./index.php"><i class="fab fa-facebook-square fa-lg"></i></a>
       
       <input type="search">
       <button type="button">serch</button>
       <a href="#">
           <!--profile-->
           <img src="../../images/" alt="profile">
       </a>
       <a href="./index.php">
        <!--home-->
        Home
    </a>
    <a href="#">
        <!--Find Friends-->
        Find Friends
    </a>
    <a href="#">
        <!--Friend Requests-->
        <i class="fas fa-user-friends fa-lg"></i>
    </a>
    <a href="#">
        <i class="fab fa-facebook-messenger fa-lg"></i>7
    </a>
   
    <a href="#">
        <i class="fas fa-globe-americas fa-lg"></i>
    </a>
    <a href="#">
        <i class="fas fa-question-circle fa-lg"></i>
    </a>
    <a href="#">
        <i class="fas fa-caret-down fa-lg"></i>
    </a>
    </div>
</body>
</html>