body {
    margin: 0;
    overflow-x: hidden;
    height: 3000px;
    background-color: #f2f2f2;
}

.jumbotron {
    padding: 50px;
    width: 100%;
    display: block;
}




.text-white {
    color: white;
}

.text-gray {
    color: #4b4f56;
}

.collapse {
    display: block;
    position: absolute;
    background-color: transparent;
    width: 200px;
    top: 30px;
    right: 0;
    display: none;
}

.fixed {
    position: fixed;
    width: 205px;
}

.fixed-1 {
    left: 0;
    background-color: #f2f2f2;
    top: 43px;
    box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.1);
}



.main-content {
    width: 500px;
    position: absolute;
    left: 220px;
    top: 50px;
}
