body {
    margin: 0;
}

.title {
    margin: 0;
    display: inline;
}

.header{
    width:100%;
   
    height:90px;
    color:white;
    background-color:black;
    

}
#logo {
    float: left;
    width: 110px;
    height: 50px;
    margin-top: 10px;
    margin-left: 5%;
}
#form1{
    margin-left: 40%;
    margin-top: 10px;
float: left;
height:60px;
width:190px;
}
#form2{
   float: left;
   margin-top: 10px;
height:60px;
width:190px;
}