.fixed-4{
    bottom: 0;
    right: 210px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.chat-container{
    max-width: 250px;
    background: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    flex-direction: column;
    height:fit-content;
    margin-left:15px;
}
.chat-header{
    background-color: #000;
    color:white;
    height: 25px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5px;
    min-width: 250px;
    max-width: 250px;
}
.chat-header a{
    color: #fff;
}
.chat-body{
    height: 200px;
    box-sizing: border-box;
    min-width: 250px;
    overflow-y: auto;
}
.chat-footer{
    background-color: #999;
    height: 75px;
}
.message_container{
    min-width: 200px;
    display: flex;
    align-items: center;
}
.m_left{
    justify-content: flex-start;
}
.m_right{
    justify-content: flex-end;
}
.message_left{
    color:white;
    background: royalblue;
    border-radius: 5px;
    padding: 5px;
   max-width: 150px;
   box-sizing: border-box;
   
}
.message_right{
    color:white;
    background: rosybrown;
    border-radius: 5px;
    padding: 5px;
    padding: 5px;
   max-width: 150px;
   box-sizing: border-box;
}
.textarea_chatbox{
    min-width: 250px;
    height: 30px;
    border: 0;
    outline: 0;
    font-size: 14px;
    padding-left: 5px;
    box-sizing: border-box;
    resize: none;
    overflow-y: auto;
    word-wrap: break-word;
    color: #1d2129;
}



